!!!5
html
	head
		meta(charset='UTF-8')
		title Social stats UI kit
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g
					.color-sample-ke.c-grey3-bg-g
					.color-sample-ke.c-grey4-bg-g
					.color-sample-ke.c-grey5-bg-g
					.color-sample-ke.c-grey6-bg-g
					.color-sample-ke.c-grey7-bg-g
					.color-sample-ke.c-grey8-bg-g
					.color-sample-ke.c-grey9-bg-g
					.color-sample-ke.c-grey10-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange1-bg-g
					.color-sample-ke.c-orange2-bg-g
					.color-sample-ke.c-bg-bg-g

			- var data = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e 7a570084fcf17dfd19f27128300c8648
						- var el = { class: 'is-stroke', path: 'twitter-bird-icon' }
						include partials/icon


			.section-kl
				.header-ke Elements
				.hash-e#4cbf1f487e13aad9100b274a119b2453 4cbf1f487e13aad9100b274a119b2453
				- el = { class: '' }
				include partials/cloud

				.hash-e#447a55a742027ef4a02d3437da4c7416 447a55a742027ef4a02d3437da4c7416
				.cloud2-b.is-anima
					.circle-be.is-1
					.circle-be.is-2
					.circle-be.is-3
					.circle-be.is-4
					.circle-be.is-5
					.base-be
					.base-be.base2-be

				

		script(src="../js/jquery-2.1.0.min.js")
		script(src="../js/jquery.superscrollorama.js")
		script(src="../js/iscroll.js")
		script(src="../js/tweenmax.min.js")
		script(src="../js/jquery.parallax.js")
		script(src="../js/tween.min.js")
		script(src="../js/helpers.js")
		script(src="../js/curtain.js")






					




				










