!!!5
html
	head
		meta(charset='UTF-8')
		title Social stats UI kit
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g
					.color-sample-ke.c-grey3-bg-g
					.color-sample-ke.c-grey4-bg-g
					.color-sample-ke.c-grey5-bg-g
					.color-sample-ke.c-grey6-bg-g
					.color-sample-ke.c-grey7-bg-g
					.color-sample-ke.c-grey8-bg-g
					.color-sample-ke.c-grey9-bg-g
					.color-sample-ke.c-grey10-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange1-bg-g
					.color-sample-ke.c-orange2-bg-g
					.color-sample-ke.c-bg-bg-g

			- var data = {}
			- var icon = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e 7a570084fcf17dfd19f27128300c8648
						- var el = { class: 'is-stroke', path: 'twitter-bird-icon' }
						include partials/icon


			.section-kl
				.header-ke Elements
				.hash-e#4cbf1f487e13aad9100b274a119b2453 4cbf1f487e13aad9100b274a119b2453
				- el = { class: 'is-anima' }
				include partials/cloud

				.hash-e#0225f03e90d3f3101d9b7db8f6677239 0225f03e90d3f3101d9b7db8f6677239
				- el = { class: 'is-anima is-flip' }
				include partials/cloud

				.hash-e#447a55a742027ef4a02d3437da4c7416 447a55a742027ef4a02d3437da4c7416
				- el = { class: 'cloud2-b is-anima' }
				include partials/cloud


				.hash-e#81de47257cb122ddca30921adf1ee649 81de47257cb122ddca30921adf1ee649
				.plane-e

				.hash-e#a68031dbfa095d64fc9b89f0a89b3173 a68031dbfa095d64fc9b89f0a89b3173
				.ribbon-b
					.text-be detailed statistics over many fine segments
					.tale-be
					.tale2-be
					.rope-be
					.rope2-be


				.hash-e#76c1adee9e0430fc11ba2f1521e25b19 76c1adee9e0430fc11ba2f1521e25b19
				- el = { class: '', text: 'detailed statistics over many fine segments' }
				include partials/plane-n-text

				.hash-e#25a33a14be99e39961e243eab6dfb19b 25a33a14be99e39961e243eab6dfb19b
				- el = { class: '', id: '' }
				include partials/bush

				.hash-e#e70e31679c4cce7614c34d818c82a2af e70e31679c4cce7614c34d818c82a2af
				- el = { class: 'is-light', id: '' }
				include partials/bush

				.hash-e#c365ec5c7c6143e47a739146d5111f64 c365ec5c7c6143e47a739146d5111f64
				- el = { class: 'is-flip', id: '' }
				include partials/bush

				.hash-e#e5c0c4aae260971b6410a1216ff32039 e5c0c4aae260971b6410a1216ff32039
				- el = { class: 'is-flip is-x2', id: '' }
				include partials/bush

				.hash-e#cfc2e8a9d46131f750ab9ebbf41f66a2 cfc2e8a9d46131f750ab9ebbf41f66a2
				- el = { class: '', id: '' }
				include partials/human

				.hash-e#6239f824e830fba76e14678064076891 6239f824e830fba76e14678064076891
				- el = { class: '', id: '' }
				include partials/cabin			

				.hash-e#4a3bad0ec6b13193efca6723a150cfba 4a3bad0ec6b13193efca6723a150cfba
				- var icons = ['facebook', 'linkedin', 'google-plus', 'foursquare', 'quora', 'blogging', 'youtube', 'myspace' ]
				.ferris-wheel
					.ferris-wheel--core
						- for (var i=0; i<12; i++)
							- el = { class: 'n-'+i + ' n-'+icons[ i % icons.length ], id: '' }
							- icon = { path: icons[ i % icons.length ] + '-icon'  }
							include partials/cabin

								- var random = function(a, b){
								-		return Math.floor((Math.random() * ((b + 1) - a)) + a);
								- }

								- for (var j=0; j<random(2,3); j++)
									- el = { class: 'human-'+j, id: '' }
									include partials/human

						.ferris-wheel--base
							- el = { path: 'twitter-icon'  }
							include partials/icon

						.ferris-wheel--circle1
						.ferris-wheel--circle2

						- var spikesCnt = 24
						- for (var i=0; i<spikesCnt; i++)
							.ferris-wheel--spike(class="n-#{i}")

						- for (var i=0; i<spikesCnt; i++)
							.ferris-wheel--spike(class="s-#{i}")

					.ferris-base
						.ferris-base--top
						.ferris-base--main
						.ferris-base--spike.is-1
						.ferris-base--spike.is-2
						.ferris-base--handle
				
				
		script(src="../js/jquery-2.1.0.min.js")
		script(src="../js/jquery.superscrollorama.js")
		script(src="../js/iscroll.js")
		script(src="../js/tweenmax.min.js")
		script(src="../js/jquery.parallax.js")
		script(src="../js/tween.min.js")
		script(src="../js/roller-coaster.js")
		script(src="../js/helpers.js")
		script(src="../js/curtain.js")






					




				










