!!!5
html
	head
		meta(charset='UTF-8')
		title Social stats UI kit
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g
					.color-sample-ke.c-grey3-bg-g
					.color-sample-ke.c-grey4-bg-g
					.color-sample-ke.c-grey5-bg-g
					.color-sample-ke.c-grey6-bg-g
					.color-sample-ke.c-grey7-bg-g
					.color-sample-ke.c-grey8-bg-g
					.color-sample-ke.c-grey9-bg-g
					.color-sample-ke.c-grey10-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange1-bg-g
					.color-sample-ke.c-orange2-bg-g
					.color-sample-ke.c-bg-bg-g

			- var data = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e 7a570084fcf17dfd19f27128300c8648
						- var el = { class: 'is-stroke', path: 'twitter-bird-icon' }
						include partials/icon


			.section-kl
				.header-ke Elements
				.hash-e#4cbf1f487e13aad9100b274a119b2453 4cbf1f487e13aad9100b274a119b2453
				- el = { class: 'is-anima' }
				include partials/cloud

				.hash-e#0225f03e90d3f3101d9b7db8f6677239 0225f03e90d3f3101d9b7db8f6677239
				- el = { class: 'is-anima is-flip' }
				include partials/cloud

				.hash-e#447a55a742027ef4a02d3437da4c7416 447a55a742027ef4a02d3437da4c7416
				- el = { class: 'cloud2-b is-anima' }
				include partials/cloud


				.hash-e#81de47257cb122ddca30921adf1ee649 81de47257cb122ddca30921adf1ee649
				.plane-e

				.hash-e#a68031dbfa095d64fc9b89f0a89b3173 a68031dbfa095d64fc9b89f0a89b3173
				.ribbon-b
					.text-be detailed statistics over many fine segments
					.tale-be
					.tale2-be
					.rope-be
					.rope2-be


				.hash-e#76c1adee9e0430fc11ba2f1521e25b19 76c1adee9e0430fc11ba2f1521e25b19
				- el = { class: '', text: 'detailed statistics over many fine segments' }
				include partials/plane-n-text

				.hash-e#25a33a14be99e39961e243eab6dfb19b 25a33a14be99e39961e243eab6dfb19b
				- el = { class: '', id: '' }
				include partials/bush

				.hash-e#e70e31679c4cce7614c34d818c82a2af e70e31679c4cce7614c34d818c82a2af
				- el = { class: 'is-light', id: '' }
				include partials/bush

				.hash-e#c365ec5c7c6143e47a739146d5111f64 c365ec5c7c6143e47a739146d5111f64
				- el = { class: 'is-flip', id: '' }
				include partials/bush

				.hash-e#e5c0c4aae260971b6410a1216ff32039 e5c0c4aae260971b6410a1216ff32039
				- el = { class: 'is-flip is-x2', id: '' }
				include partials/bush


				.hash-e#0615c5aa8e19a9ef7fd683703b0e808a 0615c5aa8e19a9ef7fd683703b0e808a
				.roller-coaster-b
					svg(x='0px', y='0px', width='1220px', height='504px', viewbox='0 0 1220 504', enable-background='new 0 0 1220 504', xml:space='preserve')
						marker(id="marker-circle", viewBox="0 0 16 16", refX="8", refY="8", markerUnits="strokeWidth", markerWidth="7", markerHeight="7", fill="#409e9c", orient="auto")
							circle(cx="8", cy="8", r="5", stroke="#257978", stroke-width="2")

						marker(id="marker-arrow", viewBox="0 0 22 42", refX="-22", refY="5", markerUnits="strokeWidth", markerWidth="42", markerHeight="12", fill="#409e9c", orient="auto")
							polygon(transform="rotate(90)", x="4", fill="#287E7C", points="3.833,0 0,41 9.833,41")

						marker(id="marker-arrow2", viewBox="0 0 22 42", refX="-22", refY="5", markerUnits="strokeWidth", markerWidth="42", markerHeight="12", fill="#409e9c", orient="auto")
							polygon(transform="rotate(90)", x="4", fill="#287E7C", points="3.833,0 0,41 9.833,41")
						
						line(id="roller-y", transform="translate(0,520)", marker-end="url(#marker-arrow)", fill='none', stroke-miterlimit='10', x1='7', y1='498.959', x2='7', y2='498')
						line(id="roller-x", marker-end="url(#marker-arrow)", fill='none', stroke-miterlimit='10', x1='4.933', y1='497', x2='1180', y2='497')
						polyline(id="roller-line1", marker-mid="url(#marker-circle)", fill='none', stroke-miterlimit='10', points='4.933,217.667 58.333,203 129,217.667 233.667,265.667 320.953,265.667 374.333,234.333 428.333,217 481,217 534.333,234.333 639.667,295 782.334,327 855.667,330.334 925.667,314.334 1031,294.334 1140.334,252 1223.667,229.667')
						polyline(id="roller-line2", marker-mid="url(#marker-circle)", fill='none', stroke-miterlimit='10', points='5.016,153.667 38.333,145 147.667,153.667 252.333,214.333 339.667,279.667 428.333,299 515,286.334 603,248.333 711,225.667 821,271.667 925.667,314.334 1031,294.334 1140.334,252 1223.667,229.667 ')
				

		script(src="../js/jquery-2.1.0.min.js")
		script(src="../js/jquery.superscrollorama.js")
		script(src="../js/iscroll.js")
		script(src="../js/tweenmax.min.js")
		script(src="../js/jquery.parallax.js")
		script(src="../js/tween.min.js")
		script(src="../js/roller-coaster.js")
		script(src="../js/helpers.js")
		script(src="../js/curtain.js")






					




				










