gs = 8px
br = 3px
PX = (1/16)em
sec = 1s

// random number between min and max
random(a,b)
  return math(math(0, 'random')*(b - a + 1) + a, 'floor')

center-shift(size)
	margin-top:  -(size/2)
	margin-left: -(size/2)
	position absolute
	left 50%
	top 50%

retina(path, size= 100%, color= white)
	background color url(path+'.png') no-repeat center center
	background-size size
	@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
		background color url(path+'@2x.png') no-repeat center center
		background-size size

downShadow()
	box-shadow 0 (gs/2) 0 rgba(rgb(c-grey1), .25)

downRightShadow(size = (gs/2))
	box-shadow size size 0 rgba(rgb(c-grey1), .25)

brad(amount = br)
	border-radius amount

fontOfControl()
	font-family 'dense'
	font-size 20px
	letter-spacing 1px

t(position)
	top position

b(position)
	bottom position	

l(position)
	left position

r(position)
	right position

nw(position=0)
	top 	position
	left 	position
ne(position=0)
	top 	position 
	right 	position
sw(position=0)
	bottom 	position
	left 	position
se(position=0)
	bottom 	position
	right 	position

border(width, style= solid, color= black)
	border-width width
	border-style style
	border-color color

vendor(property)
	-webkit-property arguments
	-moz-property arguments
	-ms-property arguments
	-o-property arguments
	property arguments

bbox()
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

cbox()
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

transition-delay()
	-webkit-transition-delay arguments
	-moz-transition-delay arguments
	-ms-transition-delay arguments
	-o-transition-delay arguments
	transition-delay arguments

transition-timing-function()
	-webkit-transition-timing-function arguments
	-moz-transition-timing-function arguments
	-ms-transition-timing-function arguments
	-o-transition-timing-function arguments
	transition-timing-function arguments


transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

transform-style()
	-webkit-transform-style arguments
	-moz-transform-style arguments
	-ms-transform-style arguments
	transform-style arguments

backface-visibility()
	-webkit-backface-visibility arguments
	-moz-backface-visibility arguments
	-ms-backface-visibility arguments
	backface-visibility arguments

animation-delay()
	-webkit-animation-delay arguments
	-moz-animation-delay arguments
	-o-animation-delay arguments
	animation-delay arguments

animation-duration()
	-webkit-animation-duration arguments
	-moz-animation-duration arguments
	-o-animation-duration arguments
	animation-duration arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

transform-origin()
	-webkit-transform-origin arguments
	-moz-transform-origin arguments
	-ms-transform-origin arguments
	-o-transform-origin arguments
	transform-origin arguments


crossTransform(property,property2='')
	-webkit-transform property
	-moz-transform property
	-ms-transform property
	-o-transform property
	transform property

crossTransition(property, time, easing)
	-webkit-transition property time easing
	-moz-transition property time easing
	-o-transition property time easing
	transition property time easing

rect(size)
	width size
	height size

circle(size)
	rect size
	border-radius 50%


min-rect(size)
	min-width size
	min-height size

hl(color, size=1px)
	outline size solid color

textel()
	white-space: nowrap
	-webkit-text-overflow: ellipsis
	-moz-text-overflow: ellipsis
	-o-text-overflow: ellipsis
	text-overflow: ellipsis
	overflow:hidden

norm(size)
	(1/(size/16))

placeholder-mixin(colorArg = c-grey3 )
	&::-webkit-input-placeholder { /* WebKit browsers */
		    color: colorArg
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: colorArg
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: colorArg
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: colorArg
	}

II = !important

