!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
	
	body
		include css/icons.svg
		section(role="main")#js-main.main-l
			#scroller
				.curtain-l#js-curtain1
					.status-quo-e.curtain-layer-lh
					.layer(data-depth=".10")
						.image1.curtain-layer-lh
					.layer(data-depth="0.35")
						.image2.curtain-layer-lh
					.layer(data-depth="0.20")
						.image3.curtain-layer-lh
					.layer(data-depth="0.50")
						.image4.curtain-layer-lh
					.layer(data-depth="0.60")
						.image5.curtain-layer-lh
					.layer(data-depth="0.75")
						.image6.curtain-layer-lh
					.layer(data-depth="1.00")
						.image7.curtain-layer-lh

					.curtain-mask-lh

				.curtain2-l#js-curtain2


		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/tweenmax.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/helpers.js")
		script(src="js/main.js")










