!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
	
	body
		section(role="main")#js-main.main-l
			#scroller
				.curtain-l
					.status-quo-e.curtain-layer-lh
					.layer(data-depth=".10")
						.image1.curtain-layer-lh
					.layer(data-depth="0.35")
						.image2.curtain-layer-lh
					.layer(data-depth="0.20")
						.image3.curtain-layer-lh
					.layer(data-depth="0.50")
						.image4.curtain-layer-lh
					.layer(data-depth="0.60")
						.image5.curtain-layer-lh
					.layer(data-depth="0.75")
						.image6.curtain-layer-lh
					.layer(data-depth="0.90")
						.image7.curtain-layer-lh
					//- .layer(data-depth="0.30")
					//- 	.rect-e.is-one
					//- .layer(data-depth="0.10")
					//- 	.rect-e.is-two
					//- .layer(data-depth="0.50")
					//- 	.rect-e.is-three
					//- .layer(data-depth="0.50")
					//- 	.rect-e.is-four
					//- .layer(data-depth="0.90")
					//- 	.rect-e.is-five


		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/tweenmax.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/main.js")










