!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
	
	body
		section(role="main")#js-main.main-l
			#scroller


		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/main.js")










