!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800', rel='stylesheet', type='text/css')
	
	//- body.no-amimation-g
	body
		- var el = { }
		include css/icons.svg
		section(role="main")#js-main.main-l
			#scroller
				.curtain-l#js-curtain1
					.script-l.is-1#js-script1 Behind the clutter of social data

					.script-l.is-status-quo#js-main-logo Status Quo
					.layer(data-depth="0.10")
						.image1.curtain-layer-lh
					.layer(data-depth="0.15")
						.image2.curtain-layer-lh
					.layer(data-depth="0.20")
						.image3.curtain-layer-lh
					.layer(data-depth="0.50")
						.image4.curtain-layer-lh
					.layer(data-depth="0.60")
						.image5.curtain-layer-lh
					.layer(data-depth="0.85")
						.image6.curtain-layer-lh
					.layer(data-depth="1.00")
						.image7.curtain-layer-lh

				.curtain2-l#js-curtain2
					.script-l.is-2#js-script2 lies a world of knowledge and clarity
					.curtain2-wrapper-lh
						.curtain2-body-lh
							.curtain2-mask-lh
							- var forkSize = 12
							.curtain2-left-lh#js-curtain2-left-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh

								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh
									.curtain2-section-lh

							.curtain2-right-lh#js-curtain2-right-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh

								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh

				.curtain3-l#js-curtain3
					.bg-ll#js-bg
					.ground-ll#js-ground
					.curtain3-cloud-holder-lh.curtain3-cloud-holder1-lh
						- el = { class: 'curtain3-cloud1-lh', id: '' }
						include css/partials/cloud
					
					.curtain3-cloud-holder-lh.curtain3-cloud-holder2-lh
						- el = { class: 'curtain3-cloud2-lh cloud2-b', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder3-lh
						- el = { class: 'curtain3-cloud3-lh cloud2-b', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder4-lh
						- el = { class: 'curtain3-cloud4-lh', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder5-lh
						- el = { class: 'curtain3-cloud5-lh cloud2-b', id: '' }
						include css/partials/cloud

					- var buildings = ['location', '23%', '44%', 'education', '12%', '6%', 'age', '14%', '6%', 'profession', '10%', '5%', 'sex']
					- for (var i = 1; i<=buildings.length; i++)
						- el = { text: buildings[i-1], class: 'curtain3-building'+i+'-lh', id: '' }
						include css/partials/building

					.curtain3-plane-lh#js-plane
						- el = { class: '', id: 'js-plane-inner', text: 'detailed statistics over many fine segments' }
						include css/partials/plane-n-text


					- el = { class: 'curtain3--bush-lh curtain3--bush1-lh ', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush2-lh is-light is-flip', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush3-lh is-light is-flip', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush4-lh ', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush5-lh ', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush6-lh is-light is-flip', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush7-lh is-light is-flip', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush8-lh is-flip is-light', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush9-lh is-flip is-light', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush10-lh', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush11-lh', id: '' }
					include css/partials/bush

					- el = { class: 'curtain3--bush-lh curtain3--bush12-lh is-flip', id: '' }
					include css/partials/bush

					.roller-coaster-b
						svg(viewbox='0 0 1220 504', preserveAspectRatio="xMaxYMax meet")
							defs 
								marker(id="marker-circle", viewBox="0 0 16 16", refX="8", refY="8", markerUnits="strokeWidth", markerWidth="7", markerHeight="7", fill="#409e9c", orient="auto")
									circle(cx="8", cy="8", r="5", stroke="#257978", stroke-width="2")

								marker(id="marker-arrow", viewBox="0 0 22 42", refX="-22", refY="5", markerUnits="strokeWidth", markerWidth="42", markerHeight="12", fill="#409e9c", orient="auto")
									polygon(transform="rotate(90)", x="4", fill="#287E7C", points="3.833,0 0,41 9.833,41")

								pattern#check-pattern(width="20", height="20", patternUnits="userSpaceOnUse")
									rect(width="20", height="3", fill="#54adaa")
									rect(width="3", height="20", fill="#54adaa")

								g(id="roller-cabin")
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#277877', d='M11.358,17.651c1.51,0.961,1.963,2.965,1.012,4.477 s-2.947,1.959-4.458,1c-1.51-0.961-1.963-2.964-1.012-4.477C7.853,17.14,9.848,16.692,11.358,17.651z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#277877', d='M28.287,17.887c1.51,0.96,1.963,2.964,1.012,4.476 s-2.947,1.959-4.457,1c-1.512-0.96-1.963-2.964-1.012-4.476S26.777,16.927,28.287,17.887z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#4CBBBB', d='M33.939,10.095c1.801,1.108,2.9,2.374,2.879,3.863 c-0.012,0.789-0.537,1.863-1.256,2.542c-1.215,1.145-2.545,1.868-3.91,2.414c-1.609,0.644-3.25,1.104-4.928,1.457 c-0.766,0.161-1.545,0.33-2.33,0.407c-0.303,0.045-0.607,0.088-0.91,0.133c-0.932,0.086-1.855,0.202-2.799,0.242 c-0.725,0.031-1.457,0.064-2.188,0.091c-1.064,0.038-2.135-0.034-3.218-0.079c-2.214-0.092-4.495-0.406-6.81-0.953 c-0.441-0.104-0.863-0.232-1.312-0.356c-2.47-0.685-6.672-2.508-6.988-5.055c-0.155-1.247,0.459-2.464,1.614-3.431 c1.765-1.476,3.716-2.139,5.671-2.802c0.465-0.158,0.947-0.251,1.412-0.402c0.185-0.041,0.369-0.082,0.554-0.123 c0.344-0.111,0.742-0.201,1.104-0.237c0.315-0.062,0.63-0.125,0.945-0.187c0.827-0.083,1.636-0.267,2.47-0.337 c1.112-0.094,2.226-0.218,3.355-0.26c3.374-0.126,6.799,0.11,10.377,0.818c1.391,0.275,2.768,0.718,4.225,1.255 c0.475,0.175,0.922,0.437,1.41,0.646C33.518,9.86,33.729,9.978,33.939,10.095z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='none', d='M28.334,9.375c0.898,0.539,0.088,0.847-0.346,1.01 c-0.502,0.188-1.084,0.322-1.619,0.375c-0.502,0.05-1,0.175-1.508,0.217c-4.002,0.338-8.095,0.416-12.283-0.019 c-1.237-0.128-2.492-0.28-3.777-0.641c-0.291-0.082-1.19-0.373-1.179-0.736C7.627,9.454,7.771,9.34,7.847,9.288 c0.27-0.185,0.547-0.255,0.835-0.351C9.153,8.781,9.67,8.669,10.167,8.62c0.189-0.032,0.378-0.064,0.566-0.096 c0.545-0.053,1.083-0.129,1.633-0.167c1.246-0.087,2.501-0.154,3.764-0.199c1.591-0.057,3.193,0.023,4.81,0.084 c1.453,0.055,2.953,0.159,4.438,0.397c0.656,0.105,1.322,0.208,1.99,0.39c0.221,0.071,0.443,0.141,0.664,0.212 C28.133,9.285,28.234,9.331,28.334,9.375z')
									path(fill='#79C8D1', d='M36.617,12.854c-0.393-1.024-1.34-1.935-2.678-2.758c-0.211-0.118-0.422-0.235-0.633-0.353 c-0.49-0.21-0.938-0.472-1.41-0.646c-1.457-0.537-2.836-0.98-4.227-1.255c-3.578-0.708-7.004-0.944-10.376-0.818 c-1.129,0.042-2.243,0.166-3.355,0.26c-0.833,0.07-1.643,0.254-2.47,0.337c-0.315,0.062-0.63,0.125-0.945,0.187 c-0.361,0.036-0.76,0.126-1.104,0.237C9.236,8.085,9.051,8.125,8.867,8.167C8.402,8.317,7.92,8.411,7.455,8.568 C5.5,9.231,3.548,9.895,1.784,11.37c-0.535,0.447-0.948,0.95-1.228,1.483c-0.321,0.403-0.465,0.833-0.387,1.27 c0.001,0.005,0,0.009,0.001,0.014c0.316,1.679,4.518,2.88,6.988,3.331c0.448,0.082,0.871,0.166,1.312,0.234 c2.314,0.36,4.596,0.567,6.81,0.628c1.083,0.029,2.153,0.077,3.218,0.052c0.73-0.017,1.464-0.039,2.187-0.059 c0.945-0.027,1.869-0.104,2.801-0.16c0.303-0.029,0.605-0.059,0.91-0.088c0.785-0.051,1.562-0.162,2.328-0.269 c1.68-0.232,3.318-0.535,4.93-0.96c1.363-0.359,2.695-0.836,3.908-1.59c0.68-0.423,1.17-1.072,1.234-1.582 c0.004-0.03,0.021-0.064,0.021-0.094C36.822,13.329,36.752,13.087,36.617,12.854z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#399695', d='M28.379,9.384c-0.064-0.032-0.129-0.063-0.193-0.094 c-0.166-0.061-0.332-0.122-0.498-0.183c-0.52-0.149-1.027-0.268-1.535-0.356C24.381,8.443,22.621,8.29,20.9,8.227 c-1.676-0.062-3.332-0.137-4.979-0.078c-1.204,0.042-2.399,0.115-3.588,0.197c-0.532,0.037-1.053,0.112-1.581,0.163 c-0.225,0.037-0.449,0.075-0.674,0.112C9.604,8.668,9.106,8.78,8.657,8.931C8.451,9,7.6,9.209,7.61,9.602 c0.009,0.354,0.894,0.646,1.176,0.725c1.295,0.364,2.556,0.517,3.802,0.647c4.197,0.44,8.304,0.35,12.316,0.012 c0.395-0.056,0.791-0.111,1.186-0.167c0.641-0.064,1.32-0.209,1.924-0.428C28.438,10.238,29.213,9.895,28.379,9.384z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#43A4A3', d='M15.879,4.701c0.742,0.482,1.447,1.252,1.871,1.826 c-0.162,0.276-0.26,0.623-0.337,0.902c-0.115,0.417-0.227,0.79-0.286,1.19c-0.097,0.664-0.065,1.315-0.048,1.954 c-0.005,0.003-0.01,0.006-0.016,0.009c-0.588-0.029-1.176-0.057-1.765-0.086c-1.042-0.046-2.077-0.187-3.136-0.302 c-0.401-0.058-0.802-0.116-1.203-0.175c-0.078-0.011-0.364-0.041-0.388-0.094c0.004-0.089,0.009-0.178,0.013-0.266 c0.006-0.301,0.047-0.595,0.099-0.911c0.12-0.717,0.396-1.42,0.72-2.201c0.153-0.284,0.307-0.568,0.461-0.852 c0.17-0.39,0.493-0.708,0.708-1.027c-0.272-0.185-0.44-0.491-0.556-0.721c-0.366-0.724-0.481-1.939,0.416-2.781 c0.471-0.442,1.018-0.663,1.591-0.686c0.259-0.01,0.542,0.025,0.82,0.103c1.6,0.45,2.024,2.099,1.649,3.208 C16.374,4.141,16.074,4.441,15.879,4.701z')
									path(fill-rule='evenodd', clip-rule='evenodd', fill='#43A4A3', d='M17.759,6.542c-0.119,0.201-0.186,0.442-0.251,0.644 c-0.285,0.878-0.435,1.66-0.443,2.471c0.008,0.305,0.017,0.609,0.025,0.914c0.184,0.006,0.368,0.013,0.552,0.019 c0.631,0.012,1.263,0.023,1.893,0.035c0.006-0.003,0.012-0.006,0.016-0.009c-0.017-0.181-0.062-0.369-0.116-0.556 c0.058,0.183,0.108,0.371,0.128,0.554c0.186,0,0.369,0,0.555,0c0.404-0.004,0.807-0.005,1.209-0.02 c1.104-0.039,2.191-0.099,3.279-0.174c0.357-0.024,0.707-0.074,1.061-0.105c0.129-0.016,0.258-0.031,0.389-0.047 c-0.037-0.373-0.176-0.776-0.307-1.13c-0.154-0.413-0.287-0.84-0.477-1.247c-0.322-0.689-0.732-1.342-1.229-1.997 c-0.311-0.408-0.738-0.751-1.146-1.141c-0.172-0.134-0.344-0.268-0.514-0.401c0.064-0.072,0.129-0.144,0.195-0.216 c0.217-0.221,0.406-0.599,0.471-0.854c0.271-1.065-0.018-2.108-1.246-2.859c-0.076-0.035-0.15-0.07-0.227-0.105 c-0.137-0.043-0.275-0.086-0.414-0.129c-0.635-0.128-1.297-0.037-1.816,0.306c-0.162,0.106-0.318,0.236-0.467,0.385 c-0.879,0.877-0.7,2.07-0.318,2.795c0.113,0.214,0.278,0.468,0.516,0.647c-0.258,0.378-0.634,0.777-0.83,1.234 c-0.088,0.165-0.176,0.33-0.264,0.495c-0.074,0.158-0.148,0.316-0.222,0.474')

							//- path(id="js-roller-line-bg2", fill='url(#check-pattern1)', transform="translate(0, 400)", d="M1220,497.251L1223.666,230c0,0-62.768,14.741-83.166,21.443 c-27.394,9-79.298,35.054-107,43.057c-26.853,7.757-82.206,22.96-110,20c-27.977-2.979-78.228-31.716-104-43 c-26.999-11.821-77.632-47.005-107-49.5c-28.125-2.389-82.116,20.839-109,29.443c-22.606,7.235-66.053,26.99-89,33.057 c-21.059,5.568-64.236,14.91-86,14c-22.657-0.947-67.418-12.479-88-22c-24.927-11.531-66.998-47.993-90-63 c-25.226-16.458-74.159-53.816-103-62.5c-26.126-7.867-81.945-9.032-109-5.5c-8.937,1.167-34.333,11-34.333,11l2.771,339.906 L1220,497.251z")
							//- path(id="js-roller-line-bg1", fill='url(#check-pattern1)', transform="translate(0, 400)", d="M5.016,220.5c0,0,40.148-13.873,54.151-14.667 c17.674-1.002,53.268,4.888,70,10.667c27.411,9.466,76.385,43.592,104.667,50c21.513,4.875,66.928,5.718,88.232,0 c14.626-3.926,38.596-24.181,52.434-30.333c12.643-5.621,39.057-14.508,52.667-17c13.131-2.404,40.137-4.684,53.333-2.667 c14.048,2.147,40.405,13.766,53.333,19.667c27.517,12.56,77.789,47.422,106,58.333c34.046,13.168,105.748,29.721,142,34 c18.538,2.188,56.091,1.843,74.667,0c17.931-1.779,52.977-10.741,70.667-14.166c25.635-4.963,77.576-11.94,102.667-19.167 c28.585-8.232,82.454-34.29,110.666-43.724c20.455-6.841,83.167-22.943,83.167-22.943l-4.125,269.501L5.625,498.562L5.016,220.5z")

							line(id="js-roller-y", marker-end="url(#marker-arrow)", transform="translate(0,520)", fill='none', stroke-miterlimit='10', x1='7', y1='498.959', x2='7', y2='22')
							line(id="js-roller-x", marker-end="url(#marker-arrow)", transform="translate(-1240,0)", fill='none', stroke-miterlimit='10', x1='4.933', y1='497', x2='1180', y2='497')

							path(id="js-roller-line2", class="line", fill='none', marker-mid="url(#marker-circle)", d="M-111.75,263.599l258.849,9.947l165.047,41.33l217.245-92.928l266.964,76.449l82.756-16.304L1086.25,151l109-5.5l189-5.5")
							path(id="js-roller-line1", class="line", fill="none", marker-mid="url(#marker-circle)", d="M-111.75,263.599l258.849,9.947l165.047,41.33l111.104,15.155l186.625-42.56l177.279-70.804l132.35,51.501l81.411-1.67l87.142-44.333l87.525-16.333l187.525-16.333")
							
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin4")
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin5")
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin6")
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin7")

							text(transform="translate(0, -20)")
								textPath(id="js-roller-text", xlink:href="#js-roller-line2", startOffset="-540") your social audience tracked over time

							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin1")
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin2")
							g(transform="translate(-50,-50)")
								use(xlink:href="#roller-cabin", id="js-roller-cabin3")



		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/tweenmax.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/helpers.js")
		script(src="js/point.js")
		script(src="js/main.js")










