!!!5
html
	head
		meta(charset='UTF-8')
		title doc
	
	body
		section(role="main")#js-main


		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/main.js")










