!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800', rel='stylesheet', type='text/css')
	
	//- body.no-amimation-g
	body
		- var el = { }
		include css/icons.svg
		section(role="main")#js-main.main-l
			#scroller
				.curtain-l#js-curtain1
					.script-l.is-1#js-script1 behind all this clutter of social data

					.script-l.is-status-quo#js-main-logo Status Quo
					.layer(data-depth="0.10")
						.image1.curtain-layer-lh
					.layer(data-depth="0.15")
						.image2.curtain-layer-lh
					.layer(data-depth="0.20")
						.image3.curtain-layer-lh
					.layer(data-depth="0.50")
						.image4.curtain-layer-lh
					.layer(data-depth="0.60")
						.image5.curtain-layer-lh
					.layer(data-depth="0.85")
						.image6.curtain-layer-lh
					.layer(data-depth="1.00")
						.image7.curtain-layer-lh

				.curtain2-l#js-curtain2
					.script-l.is-2#js-script2 lies a world of knowledge and clarity
					.curtain2-wrapper-lh
						.curtain2-body-lh
							.curtain2-mask-lh
							- var forkSize = 12
							.curtain2-left-lh#js-curtain2-left-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh

								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh
									.curtain2-section-lh

							.curtain2-right-lh#js-curtain2-right-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh

								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh

				.curtain3-l#js-curtain3
					.bg-ll#js-bg
					.ground-ll#js-ground
					.curtain3-cloud-holder-lh.curtain3-cloud-holder1-lh
						- el = { class: 'curtain3-cloud1-lh', id: '' }
						include css/partials/cloud
					
					.curtain3-cloud-holder-lh.curtain3-cloud-holder2-lh
						- el = { class: 'curtain3-cloud2-lh cloud2-b', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder3-lh
						- el = { class: 'curtain3-cloud3-lh cloud2-b', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder4-lh
						- el = { class: 'curtain3-cloud4-lh', id: '' }
						include css/partials/cloud

					.curtain3-cloud-holder-lh.curtain3-cloud-holder5-lh
						- el = { class: 'curtain3-cloud5-lh cloud2-b', id: '' }
						include css/partials/cloud

					- var buildings = ['location', '23%', '44%', 'education', '12%', '6%', 'age', '14%', '6%', 'profession', '10%', '5%', 'sex']
					- for (var i = 1; i<=buildings.length; i++)
						- el = { text: buildings[i-1], class: 'curtain3-building'+i+'-lh', id: '' }
						include css/partials/building

					.curtain3-plane-lh#js-plane
						- el = { class: '', id: 'js-plane-inner', text: 'detailed statistics over many fine segments' }
						include css/partials/plane-n-text

		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/tweenmax.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/helpers.js")
		script(src="js/main.js")










