!!!5
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="css/main.css", type="text/css", rel="stylesheet")
	
	body
		include css/icons.svg
		section(role="main")#js-main.main-l
			#scroller
				.curtain-l#js-curtain1
					.status-quo-e.curtain-layer-lh
					.layer(data-depth="0.10")
						.image1.curtain-layer-lh
					.layer(data-depth="0.15")
						.image2.curtain-layer-lh
					.layer(data-depth="0.20")
						.image3.curtain-layer-lh
					.layer(data-depth="0.50")
						.image4.curtain-layer-lh
					.layer(data-depth="0.60")
						.image5.curtain-layer-lh
					.layer(data-depth="0.85")
						.image6.curtain-layer-lh
					.layer(data-depth="1.00")
						.image7.curtain-layer-lh

				.curtain2-l#js-curtain2
					.curtain2-wrapper-lh
						.curtain2-body-lh
							.curtain2-mask-lh
							- var forkSize = 12
							.curtain2-left-lh#js-curtain2-left-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh


								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh
									.curtain2-section-lh

							.curtain2-right-lh#js-curtain2-right-side
								.curtain2-konfetti-lh
									.layer(data-depth="0.1")
										.image1.curtain-layer-lh
									.layer(data-depth="0.1")
										.image2.curtain-layer-lh
									.layer(data-depth="0.4")
										.image3.curtain-layer-lh
									.layer(data-depth="0.5")
										.image4.curtain-layer-lh
									.layer(data-depth="0.4")
										.image5.curtain-layer-lh
									.layer(data-depth="0.5")
										.image6.curtain-layer-lh

								- for (var i=0; i< forkSize; i++)
									.curtain2-section-lh
									.curtain2-section-lh.is-even
										.curtain2-section-inner-lh


		script(src="js/jquery-2.1.0.min.js")
		script(src="js/jquery.superscrollorama.js")
		script(src="js/iscroll.js")
		script(src="js/tweenmax.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/helpers.js")
		script(src="js/main.js")










