// BLOCKS
@import '../assets/imports.styl'

/* 0615c5aa8e19a9ef7fd683703b0e808a */
.roller-coaster-b
	line
		stroke-width 5px
		stroke #287e7b

	.line
		stroke-width 3px
		stroke #409f9c

	text
		font-size 48px
		font-family 'reklame-script'
		fill white



/* 25a33a14be99e39961e243eab6dfb19b */
.bush-b
	rect  128px
	position relative

	/* e5c0c4aae260971b6410a1216ff32039 */
	&.is-x2
		rect 256px

	/* c365ec5c7c6143e47a739146d5111f64 */
	&.is-flip
		> .part1-be
			left 22.6%
			right auto
		> .part2-be
			left 6.25%
			right auto
		> .part3-be
			left  0
			right auto
		> .part4-be
			right 21.28%
			left auto
		> .part5-be
			right 0
			left auto

		> .part6-be
			right 16.4%
			left auto


	/* e70e31679c4cce7614c34d818c82a2af */
	&.is-light
		> .part-be
			background-color #9ed355
			background-attachment fixed

	> .part-be
		border-radius 50%
		rect 35%
		position absolute
		background url('i/curtain-dots-bg3.png') repeat
		background-color #98bb69 
		background-attachment fixed

	> .part1-be
		top 0
		right 22.6%

	> .part2-be
		rect  23.4%
		top   20.3%
		right 6.25%

	> .part3-be
		rect 37.5%
		top  37.5%
		right  0

	> .part4-be
		rect 30.5%
		top  9.3%
		left 21.28%

	> .part5-be
		rect 37.5%
		left 0
		top 37.5%

	> .part6-be
		rect 23.4%
		left 16.4%
		top  23.4%

	> .part7-be
		rect 60%
		left 50%
		top  50%
		margin-left -30%
		margin-top  -30%
		

/* a68031dbfa095d64fc9b89f0a89b3173 */
.ribbon-b
	height 51px
	width 500px
	background #f9f0dd
	position relative

	> .text-be
		font-size 38px
		font-family 'reklame-script'
		line-height 51px
		padding-left 16px
		color darken(#64c2c1, 30)


	> .rope-be
		height 2px
		width  90px
		position absolute
		background #f9f0dd
		left -88px
		transform rotate(-16deg)
		top 12px

	> .rope2-be
		height 2px
		width  90px
		position absolute
		background #f9f0dd
		left -88px
		transform rotate(16deg)
		bottom 12px

	> .tale-be
		position absolute
		right -26px
		top 0
		border 26px solid transparent
		border-top-color #f9f0dd

	> .tale2-be
		position absolute
		right -26px
		bottom 0
		border 26px solid transparent
		border-bottom-color #f9f0dd

.building-b
	background #64c2c1
	width 5.5%
	height 50%
	position relative
	> .text-be
		font-size 30px
		color white
		font-family 'Open Sans', sans-serif;
		font-weight 100
		text-align center
		position absolute
		width 100%
		top   -35px
		z-index 1
		// text-shadow 0 0 10px white
		text-shadow 0 0 6px white
		opacity 0
		transition opacity .2s linear
		// display none

		.show-building-categories-gt &
			animation neon 5s linear infinite
			// display block
			

/* 4cbf1f487e13aad9100b274a119b2453 */
.cloud-b
	position relative
	width  114px
	height 52px 
	transform scale(1.5)

	.circle-be
		border-radius 50%
		background #f9f0dd
		rect 49px
		position absolute
		transition all .5s ease-in
		transform scale(0)
		&.is-1
			right 25px
			top 0
		&.is-2
			rect 35px
			right 0
			bottom 0
		&.is-3
			rect 26px
			left 16px
			bottom 8px
		&.is-4
			rect 20px
			left 0
			bottom 0
		&.is-5
			rect 20px
			left 30px
			bottom 5px
	
	.base-be
		background #f9f0dd
		// background red
		bottom 10px
		border-radius 20px
		width 75%
		height 15px
		position absolute
		transform scale(0)
		transition all .5s ease-out
		left 40px
		rect 20px
	
	.base2-be
		bottom 6px
		left   14px
		rect 	 10px

	&.is-anima
		.circle-be
			transform scale(1)
			-webkit-transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1)
			transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1.540)

		.base-be
			width 78%
			height 10px
			bottom 0
			left 8px
			transform scale(1)
			transition all .4s linear, bottom .5s cubic-bezier(0.545, 0.380, 0.465, 1.540)
		
		.base2-be
			bottom 6px
			left   14px
			rect 	 10px

	
.cloud2-b
	@extend .cloud-b
	.circle-be	
		&.is-1
			rect 50px
			right 14px
			top  1px

		&.is-2
			rect  36px

		&.is-3
			rect  30px
			left  28px
			top   22px

		&.is-4
			left  10px

	.base-be
		bottom 10px
		left 50px
	
	&.is-anima

		.base-be
			// background red
			left 18px
			width 70%
			bottom 0

		.base2-be
			rect 10px
			left 48px
			bottom 15px









