// BLOCKS
@import '../assets/imports.styl'

/* 4cbf1f487e13aad9100b274a119b2453 */
.cloud-b
	position relative
	width  114px
	height 52px 
	transform scale(1.5)

	.circle-be
		border-radius 50%
		background white
		rect 47px
		position absolute
		transition all .5s ease-in
		transform scale(0)

		&.is-1
			right 26px
			top 0

		&.is-2
			rect 35px
			right 0
			bottom 0

		&.is-3
			rect 26px
			left 16px
			bottom 8px

		&.is-4
			rect 20px
			left 0
			bottom 0

		&.is-5
			rect 20px
			left 30px
			bottom 5px
	
	.base-be
		background white
		// background red
		bottom 10px
		border-radius 20px
		width 75%
		height 15px
		position absolute
		transform scale(0)
		transition all .5s ease-out
		left 40px
		rect 20px
	
	.base2-be
		bottom 6px
		left   14px
		rect 	 10px

	&.is-anima
		.circle-be
			transform scale(1)
			-webkit-transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1)
			transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1.540)

		.base-be
			width 78%
			height 10px
			bottom 0
			left 8px
			transform scale(1)
			transition all .4s linear, bottom .5s cubic-bezier(0.545, 0.380, 0.465, 1.540)
			// -webkit-transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1)
			// transition-timing-function cubic-bezier(0.545, 0.380, 0.465, 1.540)

		.base2-be
			bottom 6px
			left   14px
			rect 	 10px

	










