// EFFECTS
@import '../assets/imports.styl'


@keyframes ferris-cabin-rotate
	0%
		transform rotate(360deg)

	100%
		transform rotate(0)

@keyframes ferris-wheel-rotate
	0%
		transform rotate(0)

	100%
		transform rotate(360deg)

.bounce-eff
	animation bounce .35s ease-out

@keyframes bounce
	0%
		margin-bottom 0

	25%
		margin-bottom -15px

	50%
		margin-bottom 0

	75%
		margin-bottom -5px

	100%
		margin-bottom 0

@keyframes fadeOutTopRight
	0%
		// opacity 1
		transorm translate(0,0)

	75%
		opacity 1

	100%
		opacity 0
		transform translate(0, -60px)
		

@keyframes neon
	0%
		opacity .75

	25%
		opacity 1

	50%
		opacity .65

	75%
		opacity .75

	100%
		opacity .95


translateSize = 100px
@keyframes cloud-float
	0%
		left 0

	50% 
		left -125%

	50.000000001%
		left 100%

	100%
		left 0


translateSize = 15%
@keyframes rotate
	0%
		transform rotate(0deg) translate3d(0,0,0)

	25%
		transform rotate(90deg) translate3d(translateSize,translateSize,0)
		
	50%
		transform rotate(180deg) translate3d(-translateSize,-translateSize,0)

	75%
		transform rotate(270deg) translate3d(translateSize,translateSize,0)

	100%
		transform rotate(360deg) translate3d(0,0,0)


@keyframes rotateReverse
	0%
		transform rotate(360deg) translate3d(0,0,0)

	25%
		transform rotate(270deg) translate3d(-translateSize,-translateSize,0)
		
	50%
		transform rotate(180deg) translate3d(translateSize,translateSize,0)

	75%
		transform rotate(90deg) translate3d(-translateSize,-translateSize,0)

	100%
		transform rotate(0deg) translate3d(0,0,0)


translateXAmount = 50px
@keyframes snowFall
	0%
		transform rotate(0deg)  translateY(0%)

	100%
		transform rotate(0deg)  translateY(100%)
		

@keyframes snowFall2
	0%
		transform rotate(0deg)  translateY(-100%)

	100%
		transform rotate(0deg)  translateY(0%)
		




// @keyframes snowFall
// 	0%
// 		transform rotate(0deg) traslateX(0px) translateY(0%)

// 	25%
// 		transform rotate(15deg) traslateX(20px) translateY(25%)

// 	50%
// 		transform rotate(0deg) traslateX(0px) translateY(50%)

// 	75%
// 		transform rotate(-15deg) traslateX(-20px) translateY(75%)

// 	100%
// 		transform rotate(0deg) traslateX(0px) translateY(0%)






