// ELEMENTS
@import '../assets/imports.styl'

.rect-e
	rect 100px
	background pink
	position absolute
	nw 200px
	margin-left -50px
	margin-top  -50px


	&.is-two
		nw 100px

	&.is-three
		nw 800px

	&.is-four
		nw 500px

	&.is-five
		nw 500px
		left 200px
		
