// ELEMENTS
@import '../assets/imports.styl'

/* 81de47257cb122ddca30921adf1ee649 */
.plane-e
	width 152px
	height 70px
	background url('i/plane.svg') no-repeat center center


.sidebar-logo-e
	color white
	font-size 30px
	font-weight 700
	text-align center
	height 80px
	padding-top 25px
	font-weight 100
	outage()

	/* 4b72743163939c4a6bedd1ba7a59ba6c */
	&.is-blue-bg
		background-color #7db9cf


/* 5aade023ce947703de824de6dc03e734 */
.header-btn-e
	color white
	font-size 16px
	letter-spacing 0
	display inline-block
	padding-bottom 2px
	border 1px solid transparent
	font-weight 300

	&.is-thin
		font-weight 100

	/* 29fa9940cdbeaba77b96d000d754a571 */
	&.is-hoverable-blue
		padding 3px 16px 5px

		&:hover, &.is-check
			border-radius 20px
			background-color #5bb3d7
			cursor pointer

	/* daa9d12412decf1cc232a21d3d813d5d */
	&.is-checkable
		padding 3px 16px 5px
		border-radius 20px
		&.is-check
			background-color #5bb3d7
			cursor default

	/* 39c525145b18ac74723b59a8a49532ae */
	&.is-hoverable-blue2
		padding 5px 12px 6px
		color #426e7c

		&:hover, &.is-check
			border-radius 20px
			background-color #7db9cf
			color white
			cursor pointer


	/* a8dfa0dd565e655fe888df703af6da13 */
	&.is-hoverable
		&:hover
			// text-decoration underline
			cursor pointer
			padding-bottom 2px
			border-bottom 1px solid white

