// ICONS
@import '../assets/imports.styl'

.icon
	rect 18*gs
	fill c-red
	display block
	position relative
	&:after
		content: ''
		rect 100%
		position absolute
		nw 0

	&.is-stroke
		stroke black
		stroke-width 2px

	svg
		float left
		rect 100%
		stroke inherit
