// LAYOUTS
@import '../assets/imports.styl'


.main-l
	min-rect 100%
	position: absolute
	z-index: 0
	top: 0
	bottom: 0
	left: 0
	width: 50%
	background: white
	overflow: hidden

	scrollerSize = 999999px
	#scroller 
		height scrollerSize
		position: absolute;
		z-index: 0;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		width: 100%;
		-webkit-transform: translateZ(0) translate(0,0) II;
		-moz-transform: translateZ(0) translate(0,0) II;
		-ms-transform: translateZ(0) translate(0,0) II;
		-o-transform: translateZ(0) translate(0,0) II;
		transform: translateZ(0) translate(0,0) II;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
		// background-color: gray
		// background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%)
		// background-size: 50px 50px



