// LAYOUTS
@import '../assets/imports.styl'


curtainMaskSize = 22px
.curtain2-l
	rect 100%
	l 0
	top 100%
	position absolute
	transform translateY(curtainMaskSize)
	background #2388B1 url('i/curtain2-pattern.svg') repeat

/* 076c46b86ca2be8ed15c0aa79a53c76a */
.curtain-l
	background-color #ff6d6a
	position absolute
	rect 100%
	nw 0
	cbox()
	padding-bottom curtainMaskSize
	overflow hidden

	coef = 10
	.curtain-layer-lh
		rect 200%
		position absolute
		nw -50%
		transform translateZ(0)
		transform-origin 50% 50%

	.curtain-mask-lh
		height curtainMaskSize
		width 100%
		position absolute
		bottom 0
		background url('i/curtain-mask.svg') repeat-x

	// .image1, .image2, .image3
	// 	opacity .5
	
	easingName = linear
	animationTime = (70*coef)s
	.image1
		background url('i/curtain-dots-bg1.png') repeat
		animation rotate animationTime easingName infinite alternate

	animationTime = (70*coef)s
	.image2
		background url('i/curtain-dots-bg2.png') repeat
		animation rotateReverse animationTime easingName infinite alternate

	
	animatinTime = (60*coef)s
	.image3
		background url('i/curtain-dots-bg3.png') repeat
		animation rotate animatinTime easingName infinite alternate
 
	animatinTime = (50*coef)s
	.image4
		background url('i/curtain-logos-bg1.png') repeat
		animation rotate animatinTime easingName infinite	 alternate
		

	animatinTime = (50*coef)s
	.image5
		background url('i/curtain-logos-bg2.png') repeat
		animation rotateReverse animatinTime easingName infinite	 alternate
		

	animatinTime = (50*coef)s
	.image6
		background url('i/curtain-logos-bg3.png') repeat
		animation rotateReverse animatinTime easingName infinite	 alternate

	animatinTime = (40*coef)s
	.image7
		background url('i/curtain-logos-bg4.png') repeat
		animation rotate animatinTime easingName infinite	 alternate

	
	// svg
	// 	rect 100%

.main-l
	min-rect 100%
	position: absolute
	z-index: 0
	top: 0
	bottom: 0
	left: 0
	background: white
	overflow: hidden
	rect 100%

	scrollerSize = 999999px
	#scroller 
		height scrollerSize
		position: absolute;
		z-index: 0;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		rect 100%
		width 100%
		transform: translateZ(0) II
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
		// background-color: gray
		// background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%)
		// background-size: 50px 50px



