// LAYOUTS
@import '../assets/imports.styl'

coef = 10
easingName = ease
animationTime = (70*coef)s
leftSize = 45.25
/* 076c46b86ca2be8ed15c0aa79a53c76a */
firstCurtainText()
	position absolute
	color white
	outage()
	color white
	position absolute
	text-align center
	width 100%
	font-size 90px
	top 50%
	margin-top -32px
.curtain-l
	// background-color #ff6d6a
	position absolute
	rect 100%
	nw 0
	cbox()
	padding-bottom curtainMaskSize
	overflow hidden
	z-index 4
	&--left, &--right
		width (leftSize)%
		height 100%
		position absolute
		background #ff6d6a url(i/bg-seamless.png) repeat left -50px
		background-attachment fixed
		&--text
			firstCurtainText()
	&--left--text
		right 0
		text-align right
	&--right--text, &--underline-text
		left 0
		text-align left
	&--right
		left (leftSize)%
		width (100 - leftSize)%
		&--text-wrapper
			rect 100%
			position absolute
			nw 0
			overflow hidden
		&--peel
			position absolute
			z-index 1
			bottom 0
			left 0
			background white
			height 100%
			box-shadow 2px 2px gs rgba(0,0,0,.1), gs (- gs) 3*gs rgba(0,0,0,.1)
			&--gradient
				position absolute
				height 100%
				max-width 10*gs
			color2 = 230
			percent = 71
			&--gradient
				bottom 0
				background: rgb(238,238,238); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(230,230,230,1) 29%, rgba(255,255,255,1) 98%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(29%,rgba(230,230,230,1)), color-stop(98%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* IE10+ */
				background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(230,230,230,1) 29%,rgba(255,255,255,1) 98%); /* W3C */
	&--left
		&--peel
			position absolute
			z-index 1
			top 0
			right 0
			background white
			height 100%
			box-shadow 2px 2px gs rgba(0,0,0,.1), gs (- gs) 3*gs rgba(0,0,0,.1)
			&--gradient
				position absolute
				height 100%
				max-width 10*gs
				right 0
				left auto
			color2 = 230
			percent = 71
			&--gradient
				bottom 0
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(255,255,255,1) 2%, rgba(230,230,230,1) 71%, rgba(238,238,238,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(2%,rgba(255,255,255,1)), color-stop(71%,rgba(230,230,230,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(255,255,255,1) 2%,rgba(230,230,230,1) 71%,rgba(238,238,238,1) 100%); /* W3C */

.underline-text
	firstCurtainText()
	z-index 3
.underline-text__left
	left 0
	text-align right
	width (leftSize)%
	z-index 6
.underline-text__right
	left (leftSize)%
	text-align left
.layer
	position absolute
	nw 0
	rect 100%
	startZIndex = 10
	&--tickets
		z-index startZIndex
	&--ground
		z-index startZIndex - 1
	&--entrance
		z-index startZIndex - 2
	&--carousel
		z-index startZIndex - 3
	&--coaster, &--baloons
		z-index startZIndex - 4
	&--bushes
		z-index startZIndex - 5
	&--plane
		z-index startZIndex - 6
	&--buildings
		z-index startZIndex - 7
	&--clouds
		z-index startZIndex - 8
	&--moon
		z-index startZIndex - 9

animationTime   = 200s
animationEasing = ease
groundHeight = 145px
nightTransitionTime = 1.5s
.curtain3-l
	background #72d2d1
	rect 100%
	position absolute
	nw 0
	z-index 2
	.tickets
		position absolute
		bottom 0
		z-index 10
		bottom 50px
		left 15%
		transform translateY(150%)
		.ticket
			transform-origin right bottom
	.anima-fork
		display none
	&.is-show-bushes
		.curtain3--bush-lh
			transform scale(1)
	&.is-show-carousel
		.carousel
			transform translateY(0) scale(.6)
			.no-preserve-3d &
				transform translateY(-38px) scale(1)
	&.is-show-ferris-wheel
		.ferris-wheel
			transform translateY(0)
			transition all .35s ease-out
	.entrance
		position absolute
		bottom groundHeight - 4px
		left 50%
		margin-left -224px
		z-index 5
		transform translateY(292px + groundHeight)
	.moon-n-text
		right 1.5%
		top 	2.5%
		position absolute
		transform translateX(400px) translateY(200px)
		z-index 0
	.carousel
		position absolute
		right 0
		bottom 102px
		z-index 4
		transform translateY(600px) scale(.6)
		transition all .35s ease-out
		.no-preserve-3d &
			transform translateY(600px) scale(1)
	.ferris-wheel
		position absolute
		bottom groundHeight + 11px
		transform translateY(150%)
		z-index 4
		left 5%
	.roller-coaster-b
		position absolute
		bottom groundHeight
		z-index 3
		left -10%
		width 120%


	// BUSHES
	.curtain3--bush-lh
		position 	absolute
		z-index 3
		bottom 		groundHeight
		transform scale(0) translateZ(0)
		// transition all .25s cubic-bezier(0.835, -0.025, 0.265, 1.550)
		// transition all .25s ease-out
		transform-origin 50% bottom
		
	.curtain3--bush1-lh
		margin-bottom -40px
		left  -10px
		z-index 3
		// transition-delay .45s

	.curtain3--bush2-lh
		margin-bottom -52px
		left  30px
		z-index 2
		// transition-delay .45s

	.curtain3--bush3-lh
		margin-bottom -100px
		left  110px
		z-index 2

	.curtain3--bush4-lh
		rect 256px
		left 50%
		margin-left   -128px
		margin-bottom -128px
		z-index 3
		// transition-delay 1s

	.curtain3--bush5-lh
		rect 100px
		left 50%
		margin-left -210px
		margin-bottom -56px
		z-index 2
		// transition-delay 1.25s

	.curtain3--bush6-lh
		rect 130px
		left 50%
		margin-left -40px
		margin-bottom -70px
		z-index 3
		// transition-delay .35s

	.curtain3--bush7-lh
		rect 130px
		left 50%
		margin-left -280px
		margin-bottom -60px
		z-index 3
		// transition-delay .5s

	.curtain3--bush8-lh
		rect 256px
		left 50%
		margin-bottom -128px
		margin-left   -50px
		z-index 2
		// transition-delay .75s

	.curtain3--bush9-lh
		left 50%
		margin-bottom -90px
		margin-left   160px
		z-index 3
		// transition-delay 1s

	.curtain3--bush10-lh
		rect 100px
		left 50%
		margin-bottom -50px
		margin-left   220px
		z-index 2
		// transition-delay .65s

	.curtain3--bush11-lh
		rect 110px
		left 50%
		margin-bottom -50px
		margin-left   370px
		z-index 2
		// transition-delay .75s

	.curtain3--bush12-lh
		rect 100px
		right 30px
		margin-bottom -50px
		z-index 2
		// transition-delay 1s

	// PLANE
	.curtain3-plane-lh
		position absolute
		top 5%
		left 100%
		width 100%
		z-index 4
		transform translateZ(0)

		.plane-n-text-l
			position absolute
			nw 0
			left 0
			&.is-flip
				right 0
				left auto

	// BUILDINGS
	.building-b
		position absolute
		bottom groundHeight
		transform translateY(150%)
		bottom -15%
		z-index 2

	leftSize  = 1
	widthSize = 10
	progress = leftSize + widthSize
	.curtain3-building1-lh
		left (leftSize)%
		width (widthSize)%
		height 40%

	leftSize = progress + 1
	widthSize = 5
	progress = leftSize + widthSize
	.curtain3-building2-lh
		left (leftSize)%
		width (widthSize)%
		height 50%

	leftSize = progress + 1
	widthSize = 5
	progress = leftSize + widthSize
	.curtain3-building3-lh
		left (leftSize)%
		width (widthSize)%
		height 35%


	leftSize = progress + 1
	widthSize = 10
	progress = leftSize + widthSize
	.curtain3-building4-lh
		left (leftSize)%
		width (widthSize)%
		height 40%

	leftSize = progress + 1
	widthSize = 7
	progress = leftSize + widthSize
	.curtain3-building5-lh
		left (leftSize)%
		width (widthSize)%
		height 45%

	leftSize = progress + 1
	widthSize = 8
	progress = leftSize + widthSize
	.curtain3-building6-lh
		left (leftSize)%
		width (widthSize)%
		height 70%

	leftSize = progress + 1
	widthSize = 7
	progress = leftSize + widthSize
	.curtain3-building7-lh
		left (leftSize)%
		width (widthSize)%
		height 75%

	leftSize = progress + 1
	widthSize = 6
	progress = leftSize + widthSize
	.curtain3-building8-lh
		left (leftSize)%
		width (widthSize)%
		height 65%

	leftSize = progress + 1
	widthSize = 7
	progress = leftSize + widthSize
	.curtain3-building9-lh
		left (leftSize)%
		width (widthSize)%
		height 70%

	leftSize = progress + 1
	widthSize = 6
	progress = leftSize + widthSize
	.curtain3-building10-lh
		left (leftSize)%
		width (widthSize)%
		height 50%

	leftSize = progress + 1
	widthSize = 4
	progress = leftSize + widthSize
	.curtain3-building11-lh
		left (leftSize)%
		width (widthSize)%
		height 40%

	leftSize = progress + 1
	widthSize = 6
	progress = leftSize + widthSize
	.curtain3-building12-lh
		left (leftSize)%
		width (widthSize)%
		height 45%

	leftSize = progress + 1
	widthSize = 5
	progress = leftSize + widthSize
	.curtain3-building13-lh
		left (leftSize)%
		width (widthSize)%
		height 50%

	leftSize = progress + 1
	widthSize = 6
	progress = leftSize + widthSize
	.curtain3-building14-lh
		left (leftSize)%
		width (widthSize)%
		height 45%

	leftSize = progress + 1
	widthSize = 6
	progress = leftSize + widthSize
	.curtain3-building15-lh
		left -(widthSize)%
		width (widthSize)%
		height 35%

	animationDuration = 100s
	.curtain3-cloud-holder-lh
		position absolute
		z-index 1
		rect 100%
		top 0
		left 0
		animation cloud-float animationDuration linear infinite

	.curtain3-cloud-holder1-lh, .curtain3-cloud-holder2-lh, .curtain3-cloud-holder4-lh
		animation-duration 2*animationDuration

	.curtain3-cloud-holder5-lh,
	.curtain3-cloud-holder5-1-lh, .curtain3-cloud-holder5-2-lh			
		animation-duration 1.5*animationDuration

	.curtain3-cloud1-lh, .curtain3-cloud2-lh
		position absolute
		top 9%
		left 14%
		transform scale(.9)

	.curtain3-cloud2-lh
		left 95%
		top 8%

	.curtain3-cloud3-lh
		left 0%
		top  34%
		transform scale(1.5)

	.curtain3-cloud3-1-lh
		left 80%
		top  30%
		transform scale(1.35)

	.curtain3-cloud4-lh
		left 65%
		top  14%
		transform scale(.95)

	.curtain3-cloud5-lh
		left 50%
		top  18%
		transform rotateY(180deg) scale(1.45)
	.curtain3-cloud5-1-lh
		left 0%
		top  22%
		transform scale(1.45)
	.curtain3-cloud5-2-lh
		left 110%
		top  16%
		transform scale(1.45)

	.baloon
		position absolute
		margin-top 100%
		z-index 2

	&__bg
		background #72d2d1 url('i/curtain-dots-bg3.png') repeat
		position absolute
		nw 0
		rect 100%
		opacity 0

	&__ground
		height 2*groundHeight
		position absolute
		bottom - groundHeight
		width 150%
		left - 25%
		transform translateY(100%)
		background #493542 url('i/curtain-dots-bg3.png') repeat
		background-position 0 -200px
		z-index 9

	.curtain3--ground-confetti
		background url('i/konfetti.png') repeat 0 -80px
		position absolute
		rect 100%
		opacity 0

.curtain3--baloon-red1
	nw 10%
.curtain3--baloon-red2
	right 25%
	top   35%
.curtain3--baloon-green1
	left 30%
	top  30%
.curtain3--baloon-green2
	left 60%
	top  20%
.curtain3--baloon-yellow1
	left 15%
	top  20%
.curtain3--baloon-yellow2
	left 85%
	top  22%

	

curtainMaskSize = 22px
sectionWidth = 65px
sectionsCount = 24
sideWidth = sectionsCount*sectionWidth
coef = 10
.curtain2-l
	height 100%
	width 100%
	l 0
	top 100%
	position absolute
	padding-top curtainMaskSize
	text-align center
	overflow hidden
	z-index 2
	display none
	cbox()

	.curtain2-konfetti-lh
		position absolute
		nw 0
		rect 100%
		z-index 3

	.curtain-layer-lh
		rect 100%
		posxition absolute
		top 0
		left 0
		overflow hidden
		transform translateZ(0)

		.no-amimation-g &
			animation none

	easingName = linear
	animationTime = (2*coef)s
	animationTime2 = (1.25*coef)s
	animationTime3 = (1*coef)s
	.image1, .image2
		background url('i/curtain-dots-bg3.png') repeat
		animation snowFall animationTime easingName infinite

	.image2
		animation snowFall2 animationTime easingName infinite

	.image3, .image4, .image5, .image6
		background url('i/curtain2-konfetti1.png') repeat
		animation snowFall animationTime easingName infinite

	.image5, .image6
		animation snowFall2 animationTime easingName infinite

	.image4, .image6
		background url('i/curtain2-konfetti2.png') repeat
		-webkit-animation-duration  animationTime2
		-moz-animation-duration  animationTime2
		-o-animation-duration  animationTime2
		animation-duration  animationTime2

	.image3, .image5
		-webkit-animation-duration  animationTime3
		-moz-animation-duration  animationTime3
		-o-animation-duration  animationTime3
		animation-duration  animationTime3

	.curtain2-wrapper-lh
		width 1px
		height 100%
		display inline-block

	.curtain2-body-lh
		margin-left - sideWidth
		width 2*sideWidth
		height 100%
		position relative
		
	.curtain2-mask-lh
		height curtainMaskSize
		width 100%
		position absolute
		left 0
		top - curtainMaskSize
		background url('i/curtain-mask.svg') repeat-x

	.curtain2-left-lh, .curtain2-right-lh
		width sectionsCount*sectionWidth
		height 100%
		overflow hidden
		float left
		position relative
	.curtain2-right-lh
		margin-left - sectionWidth

		.image1, .image2
			margin-left sectionWidth


	.curtain2-section-lh
		height 100%
		width sectionWidth
		float left
		position relative
		margin-bottom 100%
		background-color #22a6df
		border-bottom-left-radius  26px
		border-bottom-right-radius 26px
		z-index 2
		top 0

		&:before
			content ''
			width 100%
			height 40px
			position absolute
			background-color inherit
			top -20px
			l 0

		&.is-even
			border-bottom-left-radius  0
			border-bottom-right-radius 0
			z-index 0
			padding-bottom 40px
			background-color transparent


	.curtain2-section-inner-lh
		background-color darkBlue
		rect 100%
		height 100%
		overflow hidden
		cbox()
		padding-top 20px
		margin-top -20px
		box-shadow 20px 0 0 darkBlue, -20px 0 0 darkBlue

		&:before
			content: ''
			position absolute
			display block
			width 100%
			height 40px
			border-radius 50%
			bottom 0
			border-top 2px solid darkBlue
			box-shadow 0 -20px 0 darkBlue, 10px -20px 0 darkBlue, -10px -20px 0 darkBlue



/* 76c1adee9e0430fc11ba2f1521e25b19 */
.plane-n-text-l
	position relative
	// transition all .5s linear
	transform-origin 50% 0
	// width 760px
	display inline-block
	
	.ribbon-b
		position absolute
		top 5px
		left 234px

	&.is-flip
		transform rotateY(180deg) translateZ(0)
		.plane-n-text--text-bh
			transform rotateY(-180deg) translateZ(0)


.main-l
	min-rect 100%
	position: absolute
	z-index: 0
	top: 0
	bottom: 0
	left: 0
	background: white
	overflow: hidden
	rect 100%

	scrollerSize = 999999px
	#scroller 
		height scrollerSize
		position: absolute;
		z-index: 0;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		rect 100%
		width 100%
		// transform: translateZ(0) II
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
		// background-color: gray
		// background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%)
		// background-size: 50px 50px
