.moon(class="#{el.class || ''}", id="#{el.id || ''}")
	.moon--crater.moon--crater__is-1
	.moon--crater.moon--crater__is-2
	.moon--crater.moon--crater__is-3
	.moon--crater.moon--crater__is-4
	.moon--crater.moon--crater__is-5
	.moon--crater.moon--crater__is-6
	.moon--crater.moon--crater__is-7
	.moon--crater.moon--crater__is-8
	.moon--crater.moon--crater__is-9
	.moon--crater.moon--crater__is-10
	.moon--crater.moon--crater__is-11
	.moon--crater.moon--crater__is-12